<!-- table -->
<table class="table">
    <tbody>
        <% rentalInfo.forEach( function(model) { %>
        <tr>
            <td class="sortClass"></td>
            <td><a href="/rentalInfo/details?id=<%= model.id %>"><%= model.propertyTitle %></a></td>
            <td><%= model.estate %></td>
            <td><a href="/rentalInfo/occupants?rentalId=<%= model.id %>">Occupants</a></td>
            <td><a href="./update?id=<%= model.id %>">
                    Edit
                </a></td>
            <td><button class="btn btn-danger" onclick="Delete('<%= model.id %>')">Delete</button></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<script>
    async function Delete(id) {
        var response = await fetch("/rentalInfo", {
            body: JSON.stringify({ id: id }),
            method: "DELETE",
            credentials: 'same-origin',
        });

        var html = await response.text();
        alert(html);
        location.reload();

    }
</script>