<div class="row no-gutters">
    <div class="col-12">
        <div class="card">
            <div class="px-4 py-3">
                <h6 class="text-primary mb-2"><%= rentalInfo.propertyTitle %></h6>
                <div class="row no-gutters">
                    <img src="<%= rentalInfo.imageURL %>" class="col-8 card-img img-details" alt="...">
                    <div class="col-4 pl-4">
                        <ul class="list-group pb-2">
                            <li class="list-group-item"><b>Estate:</b><%= rentalInfo.estate %></li>
                            <li class="list-group-item"><b>Gross Area:</b><%= rentalInfo.grossArea %> sq.ft</li>
                            <li class="list-group-item"><b>Rent:</b>$<%= rentalInfo.rent %></li>
                            <li class="list-group-item"><b>Badrooms:</b><%= rentalInfo.bedrooms %></li>
                            <li class="list-group-item"><b>Expected Tenants:</b><%= rentalInfo.expectedTenants %></li>
                            <li class="list-group-item" id="createdTime"><b>Created:</b>
                                <div style="display: inline;"><%= rentalInfo.createdAt %></div>
                            </li>
                            <li class="list-group-item" id="updatedAt"><b>Updated:</b>
                                <div style="display: inline;"><%= rentalInfo.updatedAt %></div>
                            </li>
                        </ul>
                        <button id="coRent" class="btn btn-primary" style="float:right;"
                            onclick="coRent()">Co-rent</button>
                        <button id="moveOut" class="btn btn-danger" style="float:right;"
                            onclick="moveOut()">Move-out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let createdTime = $("#createdTime div").text();
        let updatedTime = $("#updatedAt div").text();
        let ct = getMyDate(createdTime);
        let ut = getMyDate(updatedTime);
        $("#createdTime div").text(ct);
        $("#updatedAt div").text(ut);


    });
    function getMyDate(str) {
        let time = parseInt(str);
        var oDate = new Date(time),
            oYear = oDate.getFullYear(),
            oMonth = oDate.getMonth() + 1,
            oDay = oDate.getDate();
        var oHour = oDate.getHours(),
            oMin = oDate.getMinutes(),
            oSen = oDate.getSeconds(),
            oTime = getzf(oMonth) + '/' + getzf(oDay) + '/' + getzf(oYear);
        return oTime;
    };
    function getzf(num) {
        if (parseInt(num) < 10) {
            num = '0' + num;
        }
        return num;
    };

    //isLogin
    if ("<%=req.session.username%>" == "")
        $("#coRent").attr("disabled", true);

    //co rent
    async function coRent() {
        var rentalId = parseInt("<%= rentalInfo.id %>");
        var userId = parseInt("<%=req.session.userId%>");
        var r = confirm("Are you sure to Co-rent?");

        if (r) {

            var response = await fetch("/user/" + userId + "/rent/" + rentalId, {
                method: "PUT",
                credentials: 'same-origin',
            });

            alert("Co-rent successfully!");
            location.reload();

        }
    }

    //button css
    var isRenter = "<%=isRenter%>";
    if(isRenter == "true"){
        $("#coRent").hide();
        $("#moveOut").show();
    }
    else{
        $("#coRent").show();
        $("#moveOut").hide();
    }

    //move out
    async function moveOut(){
        var rentalId = parseInt("<%= rentalInfo.id %>");
        var userId = parseInt("<%=req.session.userId%>");
        var r = confirm("Are you sure to move out?");

        if (r) {

            var response = await fetch("/user/" + userId + "/rent/" + rentalId, {
                method: "DELETE",
                credentials: 'same-origin',
            });

            alert("Move-out successfully!");
            location.reload();

        }
    }
</script>