<!-- Narbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">RERS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Jumbotron -->
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Real Estate Rental System</h1>
                <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
                    finding roommates.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Card -->
<div class="row no-gutters">
    <% rentalInfo.forEach( function(model) { %>
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="px-4 py-3">
                <a href="./details?id=<%= model.id %>">
                    <h6 class="text-primary mb-2"><%= model.propertyTitle %></h6>
                </a>
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="<%= model.imageURL %>" class="card-img img-home" alt="..."></div>
                    <div class="col-8 pl-4">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Estate:</b><%= model.estate %></li>
                            <li class="list-group-item"><b>Gross Area:</b><%= model.grossArea %> sq.ft</li>
                            <li class="list-group-item"><b>Rent:</b>$<%= model.rent %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>