<!-- checkbox -->
<h3>Property Create Form</h3>
<form action="/rentalInfo/update?id=<%= rentalInfo.id %>" method="POST">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="propertyTitle">Property title</label>
                <input type="text" class="form-control" id="propertyTitle" name="RentalInfo[propertyTitle]"
                    value="<%= rentalInfo.propertyTitle %>" required>
            </div>
            <div class="form-group">
                <label for="estate">Estate:</label>
                <select class="form-control" id="estateId"  name="RentalInfo[estate]" value="<%= rentalInfo.estate %>">
                    <option>Festival City</option>
                    <option>Tin Ma Court</option>
                    <option>City One Shatin</option>
                </select>
            </div>
            <div class="form-group">
                <label for="grossArea">Gross Area:</label>
                <input type="number" min="0" class="form-control" id="grossArea" name="RentalInfo[grossArea]"
                    value="<%= rentalInfo.grossArea %>" required>
            </div>
            <div class="form-group">
                <label for="rent">Rent:</label>
                <input type="number" min="0" class="form-control" id="rent" name="RentalInfo[rent]"
                    value="<%= rentalInfo.rent %>" required>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="imageURL">Image URL:</label>
                <input type="text" class="form-control" id="imageURL" name="RentalInfo[imageURL]"
                    value="<%= rentalInfo.imageURL %>" required>
            </div>
            <div class="form-group">
                <label for="bedrooms">Bedrooms:</label>
                <input type="number" min="0" class="form-control" id="bedrooms" name="RentalInfo[bedrooms]"
                    value="<%= rentalInfo.bedrooms %>" required>
            </div>
            <div class="form-group">
                <label for="expectedTenants">Expected Tenants:</label>
                <input type="number" min="0" class="form-control" id="expectedTenants"
                    name="RentalInfo[expectedTenants]" value="<%= rentalInfo.expectedTenants %>" required>
            </div>
            <div class="checkbox">
                <label>
                    <input id='checkbox' type="checkbox" value="true" id="highlighted" name="RentalInfo[highlighted]"
                        value="<%= rentalInfo.highlighted %>">
                    Highlighted Property
                </label>
            </div>
            <button type="submit" class="btn btn-primary">&nbspSubmit&nbsp</button>
        </div>
    </div>
</form>
<script>
window.onload=function(){
    var check=document.getElementById('checkbox').value;
    var selector=document.getElementById('estateId').attributes.value.value;
    $('#estateId').val(selector);
    if(check=="true"){
        $('#checkbox').prop("checked",true);
    }else{
        $('#checkbox').prop("checked",false);
    }
}
</script>